<h1>Present</h1>

<% list.forEach(function(el){ %>
	
	<h1><%= el.title %></h1>
	<span><%= el.date.toDateString() %></span>
	<a href="/projects/<%=el._id %>">More Information</a>
<% }); %>

<a href="/projects/new" style="display:block;margin-top:20px">Continue to Entry</a>