<form action="/projects" method="POST">
	<input type="text" name="grab[title]">
	<input type="text" name="grab[date]">
	<button type="submit">Submit</button>
</form>

<a href="/projects">Back to Projects</a>