<% experimentList.forEach(function(e){ %>
	<h1 class="title"><%= e.title %></h1>
	<span class="date"><%= e.date.dateToString() %></span>
	<a href="experiments/<%= e._id %>">More Information</a>
<% }); %>

<a href="experiments/new">Continue to Submission</a>